/* 
label: Tweakcn v0
value: tweakcn-v0  
*/

:root[data-theme-preset="tweakcn-v0"] {
  --radius: 0.625rem;
  /* Core palette – replace with final colors as needed */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.25 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.25 0 0);
  --primary: oklch(0.63 0.18 264.54);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0 0);
  --secondary-foreground: oklch(0.34 0.03 256.8);
  --muted: oklch(0.98 0 247.84);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.9 0.04 265.52);
  --accent-foreground: oklch(0.38 0.14 265.52);
  --destructive: oklch(0.62 0.23 25.33);
  --border: oklch(0.9 0.01 247.88);
  --input: oklch(0.97 0 0);
  --ring: var(--primary);
  --chart-1: oklch(0.72 0.06 248.68);
  --chart-2: oklch(0.79 0.09 35.96);
  --chart-3: oklch(0.58 0.08 254.16);
  --chart-4: oklch(0.5 0.08 259.49);
  --chart-5: oklch(0.42 0.1 264.03);
  --sidebar: oklch(0.93 0 258.33);
  --sidebar-foreground: oklch(0.25 0 0);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: oklch(0.93 0.01 264.53);
  --sidebar-ring: var(--ring);
  --background: oklch(0.96 0 236.5);
  --foreground: oklch(0.25 0 0);
}

.dark:root[data-theme-preset="tweakcn-v0"] {
  --background: oklch(0.28 0.03 262.67);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.33 0.03 268.64);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.31 0.02 268.4);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.63 0.18 264.54);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.33 0.03 266.71);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.33 0.03 266.71);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.36 0.06 267.59);
  --accent-foreground: oklch(0.88 0.06 254.13);
  --destructive: oklch(0.62 0.23 25.33);
  --border: oklch(0.4 0.03 269.73);
  --input: oklch(0.4 0.03 269.73);
  --ring: var(--primary);
  --chart-1: oklch(0.72 0.06 248.68);
  --chart-2: oklch(0.77 0.09 34.19);
  --chart-3: oklch(0.58 0.08 254.16);
  --chart-4: oklch(0.5 0.08 259.49);
  --chart-5: oklch(0.42 0.1 264.03);
  --sidebar: oklch(0.33 0.03 267.74);
  --sidebar-foreground: oklch(0.92 0 0);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: oklch(0.4 0.03 269.73);
  --sidebar-ring: var(--ring);
}
